<div li-block="Vendor" {{ block.shopify_attributes }}>
                    
                </div> {% schema %} {
    "name": "Vendor",
    "settings": [],
    "presets": [
        {
            "name": "Vendor",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}