<div class="padding-global">
          <div class="container-large">
            <div class="login_tabs is-password">
              <div class="login_form w-form">
                <div class="div-block-12">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'image-5' }}
{% else %}
<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-5">
{% endif %}</div>
                <h1 class="heading-style-h2 text-align-center">
{{ section.settings.text_heading }}
</h1>
                <div class="spacer-xxsmall"></div>
                {% form 'storefront_password', class: 'form_form' %}
<div class="form_field-wrapper"><input class="form_input w-input" maxlength="256" name="password" data-name="password" placeholder="Password" type="password" id="password" required=""></div>
                  <div class="button-group"><input type="submit" data-wait="" class="button max-width-full w-button" value="Login"></div>
                {% endform %}
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Password",
    "class": "section_under-construction",
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "IMAGE"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Under Construction"
        }
    ],
    "presets": [
        {
            "name": "Password",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "password"
        ]
    }
} {% endschema %}